.users-Tabel{
    border-collapse: collapse;
    padding: auto;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(96, 139, 191);
    margin-top: 100px;
    color: snow;
}
   tr,td{
    border-bottom:1px solid black ;
    text-align: right;
    width: 20%;
    padding: 10px;
   }
   th{
    text-align: right;
    padding: 10px;

   }
   .tabelbtn{
    width: 30%;
    height: 40%;
    margin-right: 3%;
    border-radius: 3px;
    padding: 2px;
   }
   .delet-user{
     background-color: rgb(197, 57, 57);
     color: aliceblue;
   }
   .edite-user{
    background-color: rgb(183, 183, 13);
   }
   .add-user-btn{
    width: 30px;
    height: 30px;
    background-color: rgb(81, 179, 81);
    font-size: 20px;
    color: snow;
    position: absolute;
    top: 17%;
    left: 10%;
    border-radius: 5px;
    border: none;
   }
   .add-user-btn:active{
    background-color: rgb(57, 51, 51);
   }
   .craetAcont-form{
    width: 200px;
    background-color: aqua;
   }
   .background-liner{
    width: 100%;
    height: 900px;
    background:linear-gradient((right),(red,blue));
   }
   .form{
    position: absolute;
    width: 35%;
    height: 600px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: right;
   text-align: center;
    left: 10.5%;
    top: 170px;
   backdrop-filter: blur(5px);
   }
   .eror{
   display: none;
   }
   input{
    width: 80%;
    height: 7%;
    border-radius: 4px;
    padding-right: 5px;
    text-align: right;
    margin-top: 20px;

   }
   .send-Data{
    width: 50%;
    margin-top: 100px;
    background-color: rgb(37, 120, 37);
    font-size: 150%;
    text-align: center;
    color: aliceblue;
    border-radius: 3px;
    height: 40px;
   }
   .a-in-heder {
    border: none;
    background-color: transparent;
   }
.basketIcon{
  font-size: 100%;
}