.product-box{
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin-bottom: 60px;
}
.capthion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    width:45% ;
}
.title{
    display: flex;
    gap: 40px;
}

p{
    text-align: 17px;
   
}
.image-main{
  width: 40%;
 height: 500px;
}
.image-get{
    width: 100%;
}
img{
    width: 100%;
    border-bottom: 2px solid black;
}
.add-to-basscet-card{
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 7px;
     margin-top: 100px;
     margin-left: 40%;
     font-size: 17px;
     background-color: rgb(12, 255, 109);


}
.poroducts-main-in-Basscet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 450px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    }
    .tipe-none{
        margin-left: 40%;
        margin-top: 20px;
    }
.product-in-Basscet{
    width: 18%;
    border: 1px solid;
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   text-align: center;
   margin-top: 10px;
   margin-right: 1.5%;
   margin-top: 30px;
    box-shadow: 0px 0px  20px #555;
}
.image-product-in-Basscet{
    height: 50%;

}

@media screen and (    max-width:800px ){
    .product-box{
        flex-wrap: wrap;
        width: 190%;
        flex-direction: column-reverse;
    }
    .image-main{
        width: 46%;

    }
    .capthion{
        width: 46%;
    }
    .title{
        font-size: 10px;
    }
 .product-in-Basscet{
    width: 220px;
    font-size: 15px;
    margin-right: 3%;
 }
 

}
@media screen and (    max-width:732px ){
    .product-in-Basscet{
       width: 130px;
       font-size: 15px;
       margin-right: 2%;
    }
    
   
   }

@media screen and (    max-width:570px ){
    .product-box{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 0px;
    
    }
    .title{
        font-size: 8px;
    }
    .product-in-Basscet{
       width: 30%;
       font-size: 13px;
       margin-right: 2%;
       height: 300px;
    }
    
   
   }
   @media screen and (    max-width:450px ){
    .title{
        font-size: 5px;
        padding: 3px;
    }
    .product-in-Basscet{
       width: 37%;
       font-size: 10px;
       margin-right: 7%;
       height: 250px;
       
    }
    .product-in-Basscet:img{
        width: 60%;
    }
    
   
   }
